.background-video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* set the height of the container to the height of the viewport */
    overflow: hidden; /* hide the overflow of the video */
  }
  
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* scale the video to cover the entire container */
}

.content {
    position: relative;
    z-index: 1; /*position the content on top of the video */
    padding: 2rem;
    margin-top: 3rem;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
}

.main-heading {
    font-family: 'Neuropol', sans-serif;
    font-size: 5rem;
    font-weight: normal;
    color: white;
    margin: 0;
    text-shadow: 0 0 10px #26f7b2, 
    0 0 20px #26f7b2, 
    0 0 30px #26f7b2; 
}

.date {
    font-family: 'Mokoto Glitch', sans-serif;
    color: white;
    font-size: 3.5rem;
}
  
.register-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 2px solid #26f7b2;
    color: #26f7b2;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5rem;
  }
  
.register-button:hover {
    color: #fff;
    text-shadow: 0 0 10px #26f7b2, 
    0 0 20px #26f7b2, 
    0 0 30px #26f7b2; 
  }
  
  
  @media screen and (max-width: 769px) {
    .main-heading {
        font-size: 3rem;
    }

    .content {
        z-index: 0;
        margin: auto;
        font-size: 1.1rem;
    }

    .date {
        font-size: 2rem;
    }
  }
  
  @media screen and (max-width: 426px) {
    .main-heading {
        font-size: 2.5rem;
    }
  }