.sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsors-card {
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    margin: 1rem;
}

.sponsors-card-container {
    display: flex;
    justify-content: center;
    /* width: 20rem; */
    align-items: center;
    text-align: center;
}

.sponsors-card img {
    width: 12rem;
}

.sponsor-title {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.coming-soon {
    font-size: 1rem;
    font-weight: 500;
}


@media screen and (max-width:769px) {
    .sponsors-card-container {
        flex-direction: column;
    }
    .sponsors-card img {
        width: 10rem;
    }
}